{% extends "app_blogs/padre.html" %} 


{% load static %} 

{% block contenido_pagina %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="text-center text-white background-black">
                <!-- Page heading-->
                <h1>Hay un error con los datos ingresados, este blog no existe, por favor, verifiquelos</h1>
                <h2>Es posible que el blog haya sido eliminado por su autor</h2>
            </div>
        </div>
    </div>
</header>

{% endblock %}