{% extends "app_blogs/padre.html" %} 


{% load static %} 

{% block contenido_pagina %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="text-center text-white background-black">
                <h1>Estas seguro que deseas borrar este blog?</h1>
            </div>
        </div>
    </div>
</header>

<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="text-center text-black"></div>
        <h2>{{mensaje}}</h2>
        <form action="" method="POST" >
            {% csrf_token %} 
            
            <input type="submit", value="Borrar">
        </form>
        </div>
    </div>
</div>
{% endblock %}