{% extends "app_blogs/padre.html" %} 


{% load static %} 

{% block contenido_pagina %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="text-center text-white background-black">
                <h1>Vanguard Blogs</h1>

            </div>
        </div>
    </div>
</header>

<div class="container position-relative">
    <div class="row justify-content-center">
        <div class="text-center text-black"></div>
        <p></p>
        <p><strong>Vanguard Blogs</strong> es un sitio donde los usuarios pueden realizar posts que incluyen una imagen y comentar en los posts de los demás usuarios!</p>
        <p>El sitio fue desarrollado por <strong>Lanfranconi Lorenzo</strong>, un joven desarrollador que esta iniciando sus primeros pasos, con el fin de presentarlo como proyecto final en el curso de <strong>Python</strong> de <strong>Coderhouse</strong></p>
        </div>
    </div>
</div>


{% endblock %}